.interna__contato {
  background: url(../assets/bg-contato.jpg) no-repeat center;
  background-size: cover;
}

.contato {
  padding: 40px 0;
}

.contato h3 {
  color: #fec63e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.contato__form {
  padding-right: 60px;
}

.contato__form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato__form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;

  margin-bottom: 10px;
  color: #fff;
  padding: 7px 10px;
  font-size: 14px;

  outline: none;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.contato__form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;

  margin-bottom: 20px;
  color: #fff;
  padding: 7px 10px;
  font-size: 14px;

  outline: none;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.contato__form .btn {
  background: none;
  padding: 7px 40px;

  margin-bottom: 40px;
}

.contato__form .btn:hover {
  border-color: #000;
  color: #000;
}

.contato_dados span {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;

  font-size: 18px;
  line-height: 31px;
}

.contato_dados span:nth-of-type(2) {
  padding-bottom: 47px;
}

.contato_dados span:nth-of-type(4) {
  padding-bottom: 44px;
}

.contato__mapa {
  padding-bottom: 60px;
}
