/* Estilos gerais*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.subtitulo:after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #000;

  margin: 8px auto;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitulo-interno:after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #000;

  margin: 8px 0;
}

.btn {
  border: 3px solid #fec63e;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 30px;
  color: #fec63e;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;

  transform: all 0.3s ease;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-preto:hover {
  color: #000;
  border-color: #000;
}

/*Header*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fec63e;
  padding: 15px 0;

  z-index: 10;
}

.header__menu {
  text-align: right;
}

.header__menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header__menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header__menu ul li a:hover {
  color: #fff;
}

.header__menu ul li a.menu_ativo {
  color: #fff;
}

/*Introdução*/

.introducao {
  width: 100%;
  height: 380px;

  margin-top: 92px;
  padding-top: 80px;

  background: url("../assets/bg.jpg") no-repeat center;
  background-size: cover;

  text-align: center;
}

.introducao h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;

  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:after,
.quote-externo p:before {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;

  margin: 14px auto 10px auto;
}

.quote-externo cite {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  letter-spacing: 0.1em;
}

.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  padding-top: 30px;

  text-align: center;

  color: #fff;
}

.introducao-interna h1 {
  font-size: 36px;

  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;

  margin: 6px auto 10px auto;
}

/*Produtos*/

.produtos {
  padding: 60px 0;
}

.produtos__lista li {
  background-color: #fec63e;
  text-align: center;
}

.produtos__lista li img {
  margin: 0 auto;
}

.produtos__lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  margin-top: 20px;
}

.produtos__lista li h3:after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #000;

  margin: 2px auto;
}

.produtos__lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos__icone {
  background-color: #000;
  padding: 20px;
}

.call {
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.call p {
  margin-bottom: 20px;
}

/*Porfolio*/

.portfolio {
  width: 100%;
  background-color: #000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
  border-color: #fec63e;
}

.portfolio .subtitulo:after {
  background-color: #fec63e;
}

.portfolio__lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #fff;
}

/*Qualidade*/

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;

  background: url("../assets/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;

  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade__lista {
  padding-top: 20px;
  overflow: auto; /*Clearfix*/
}

.qualidade__lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade__lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade__lista li h3:after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #000;

  margin: 6px auto;
}

/*Footer*/

.quebra {
  background: url("../assets/bg-footer.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 220px;
  text-align: center;

  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/*Footer*/

.footer {
  width: 100%;
  background-color: #000;
  padding: 20px 0;

  color: #fff;
}

.footer h3 {
  color: #fec63e;
  font-size: 18px;
  line-height: 25px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  background-color: #fec63e;
  width: 60px;
  height: 3px;

  margin: 6px 0 12px 0;
}

.footer__historia {
  padding-right: 40px;
}

.footer__contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer__redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer__redes ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 10px;
  transition: all 0.5 ease;
}

.footer__redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}
